@charset "utf-8";/* Formatação dos caracteres usados no sistema */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');/* importação de font através de url(api)*/

@font-face {
	font-family: FonteLogo;
	src: url("../_fonts/bubblegum-sans-regular.otf") ;
}/* Formatação da font no texto */


/*----------------------------------------------------------------------------------------*/
/* Formatação do corpo no texto */
body{
	font-family: Arial, sans-serif;
	background: url('../_imagens/google-visao.jpg') fixed repeat;
	color: rgba(0,0,0,1);
}

/* Formatação da interface do texto */
div#interface{

	width: 1000px;
	background-color: #ffffff;
	margin:-20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 10px;
}

/* Formatação do paragráfo do texto */
p{
	text-align: justify;
	text-indent: 50px;
}

/* Formatação do link do texto */
a{
	color: #606060;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

header#cabecalho img#icone{
	position: absolute;
	left:800px;
	top:35px;
}/* Formatação da imagem do cabeçalho no texto */

/* Formatação da tabela no texto */
header#cabecalho{
	border-bottom: 1px #606060 solid;
	height:150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}
header#cabecalho h1{
	font-family: "FonteLogo", sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h1 a{
	text-decoration: none;
	color: #606060;

}
header#cabecalho h1 a:active{
	text-decoration: none;
}
header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	color: #888888;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	padding: 0px;
	margin-top: 0px;
}

/* Formatação de imagens com legendas */
figure.foto-legenda{

	width: 85%;
	height: 85%;
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{

	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption{

	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0, 0.5);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{

	opacity: 1;
}

/* Formatação do Menu */
nav#menu {

	display: block;
}
nav#menu ul{

	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left:370px;
	font-size: 11px;
}
nav#menu li{

	display: inline-block;
	background: #dddddd;
	padding: 10px;
	margin: 1px;
	-webkit-trasition: background-color 1s;
	-o-trasition: background-color 1s;
	-moz: background-color 1s;
	-ms: background-color 1s;
	transition: background-color 1s;
}
nav#menu h1{

	display: none;
}
nav#menu li:hover{

	background: #606060;
}
nav#menu a{

	color: #000000;
	text-decoration: none;
}
nav#menu a:hover{

	color: #ffffff;
}

/* Formatação da section no texto */
section#corpo{
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

/* Formatação do artigo do texto */
article#noticia-principal h2{
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding:5px 0px 0px 10px;
	margin:10px 0px 10px 0px;
}

/* Formatação do cabeçalho do artigo do texto */
header#cabecalho-artigo h1{
	font-family: "FonteLogo", sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
}
.direita{
	font-size: 9px;
	text-align: right;
}
header#cabecalho-artigo h2{
	font-size: 15pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}
header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
}

/* Formatação da tabela no texto */
table#tabelaspec{
	border:1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
table#tabelaspec td{
	border: 1px solid #606060;
	padding:10px;
}
table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}
table#tabelaspec td.cd{
	background-color: #cecece;
}
table#tabelaspec caption{
	color: #888888;
	font-size: 15px;
	font-weight: bold;
}
table#tabelaspec caption span{
	display: block;
	float: right;
	color: #000000;
	font-size: 10px;
	margin-top: 10px;
}

/* Formatação da aside no texto */
aside#lateral{
	display: block;
	width: 450px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

}

aside#lateral h1{
	font-family: "FonteLogo", sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#lateral h2{
	font-size: 12pt;
	background-color: #606060;
	color: #ffffff;
	padding: 5px;
}

video#filme01{
	width: 450px;
	height:450px;
}

video#filme02{
	width: 450px;
	height:450px;
}
/* Formatação do rodapé no texto */
footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
	padding-top: 10px;
}
footer#rodape p{
	text-align: center;
}

